 :root {
    --main-color :#10cab7;
    --secondery-color : #2c4755;
 }

 /* Start Global Rules */
* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left:15px;
    padding-right: 15px;
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container {
        width: 750px;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container {
        width: 970px;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container {
        width: 1170px;
    }
 }
/* Start components */
.special-heading {
    color: #ededed;
    font-size: 150px;
    text-align: center;
    letter-spacing: -10px;
    margin: 0;
}
.special-heading + P {
    font-size: 20px;
    margin-top: -40px;
    text-align: center;
    color: #797979;
}
@media (max-width:779px) {
    .special-heading { 
        font-size: 100px;
    }
    .special-heading + P {
        margin-top: -30px;
    }
}
/* End components */

 /* End Global Rules */

.header {
    padding: 20px;
 }

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

.header .logo {
    width: 80px;
 }

.header .links {
    position: relative;
 }
.header .links:hover .icons span:nth-child(2) {
    width: 100%;
 }

.header .links .icons {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
 }

.header .links .icons span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
 }

.header .links .icons span:first-child {
    width: 100%;
 }

.header .links .icons span:nth-child(2) {
    width: 50%;
    transition: 0.2s;
 }

.header .links .icons span:last-child {
    width: 100%;
 }

.header .links ul {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    right: 0;
    min-width: 200px;
    top: calc(100% + 20px);
    display: none;
}

.header .links:hover ul {
    display: block;
    z-index: 1;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-color: #f2f2f2 transparent transparent transparent;
    border-style: solid;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.header .links ul li a:hover {
    padding-left: 25px;
    font-weight: bold;
}

.header .links ul li:not(:last-child) a {
   border-bottom: 1px solid #ddd;
}

.landing {
    background-image: url(../images/mountain.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
   
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,50%);
    text-align: center;
    width: 420px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0px;
    color: var(--main-color);
    font-size: 60px;
    font-weight: bold;
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 28px;
    color: #f2f2f2;
}

.Features {
    padding-top:60px;
    padding-bottom:60px;
    background-color: #f2f2f2;
}

.Features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
}

.Features .container .feat {
    padding: 20px;
    text-align: center;
}

.Features .container .feat i{
    font-size: 60px;
    color: var(--main-color);
}

.Features .container .feat h3{
    font-size: 20px;
    font-weight: 800;
    margin: 30px 0;
}

.Features .container .feat p{
    font-size: 15px;
    line-height: 1.7;
    color: #777;
}
/* Start Services  */
.Services {
    padding-top: 60px;
    padding-bottom: 60px;
}
.Services .container .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
    margin-top: 80px;
}
.Services .container .services-content .col .srv {
   display: flex;
   margin-bottom: 40px;
}
@media (max-width:767px) {
    .Services .container .services-content .col .srv {
        flex-direction: column;
        text-align: center;
     }
}
.Services .container .services-content .col .srv i {
    color: var(--main-color);
    flex-basis: 60px;
    font-size: 30px;
 }
.Services .container .services-content .col .text {
    flex: 1;
 }
 .Services .container .services-content .col .text h2{
   margin: 0;
   font-weight: 600;
 }
 .Services .container .services-content .col .text p{
   line-height: 1.8;
   color: #797979 ;
 }

.Services .container .services-content .col .image{
   text-align: center;
   position: relative;
}
.Services .container .services-content .col .image img{
    width: 400px;
    filter:grayscale(100%);
    border-radius: 5%;
}
.Services .container .services-content .col .image::before{
    content: "";
    background-color: var(--secondery-color);
    width: 100px;
    height: calc(100% + 100px);
    right: -75px;
    top: -50px;
    position: absolute;
    z-index: -1;
}
@media (max-width:1200px) {
    .Services .container .services-content .col .image{
        display: none;
     }
}

/* End Services  */